.body {
    background-color: lightblue;
}

.main {
    background-color: darkorchid;
    color: black;

    margin-top: 0px;
    padding-top: 0px;

    border-style: ridge;
    border-width: 10px;
    border-radius: 5px;
    border-color: gray;

    text-align: center;
}

#nav {
    background-color: rgb(54, 54, 54);
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li a {
    float: left;
    display: block;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: rgb(0, 177, 6);
  }

.active:hover {
    background-color: rgb(54, 141, 57);

}

