.body {
    background-color: #909090;
}

.main {
    background-color: #d8d8d8;
    color: #333;

    margin-top: 0px;
    padding-top: 0px;

    border-style: ridge;
    border-width: 10px;
    border-radius: 5px;
    border-color: gray;

    text-align: center;
}

.navbar {
  text-align: center;
  color: #f9f9f9;
  background-color: #333;
  overflow: hidden;
}

.active {
  background-color: #733380;
}

#login {
  margin-left: 1700px;
  color: #87919c;
}

a {
  text-decoration: none;
}

a:link {
  color: #AB85B3;
}

a:visited {
  color: #D5C2D9;
}
