<!DOCTYPE html>
<html lang="en">
	<head>
		<title>New post</title>
		<meta charset="utf-8">
        <link href="style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
	</head>

	<body class="body">
		<div class="navbar">
			<a class="navbar" href="/">Home</a>
			<a class="navbar" href="categories">Categories</a>
			<a class="navbar" href="goals">Goals</a>
			<button id="login" onclick="document.getElementById('id01').style.display='block'">Login</button>
			<div id="id01" class="modal">
			  <span onclick="document.getElementById('id01').style.display='none'"
				class="close" title="Close Modal">&times;</span>

			  <form class="modal-content animate" action="!!!FIX!!!">
			    <div class="container">
			      <label id="logtext"><b>Username</b></label>
			      <input type="text" name="uname" required>

			      <label id="logtext"><b>Password</b></label>
			      <input type="password" name="psw" required>

			      <button id="loginfr" type="submit">Login</button>
			    </div>
			  </form>
			</div>
			<script>
				// Get the modal
				var modal = document.getElementById('id01');

				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
				 if (event.target == modal) {
					 modal.style.display = "none";
				 }
				}
			</script>
		</div>

		<div  id="blog">
				<div id="selector">
					Type of entry
					<!-- This vue @click method triggers each click, it isn't optimal due to
				people using keyboard to select aswell. Only works for mouse -->
					<select id="dropbox">
						<option value="default"  @click="change">
							Choose one
						</option>
						<option value="album"  @click="change">
							Album
						</option>
						<option value="book"  @click="change">
							Book
						</option>
						<option value="movie"  @click="change">
							Movie
						</option>
						<option value="vgame"  @click="change">
							Video game
						</option>
						<option value="blog"  @click="change">
							Blog post
						</option>
					</select>
				</div>
				<div id="choiceBlock">
				</div>
		</div>

		<!-- Using Vue to bring up certain textboxes for different entry options -->
		<script>
			var app = new Vue({
				el: '#blog',

				data: {
					options: {default: 0, album: 1, book: 2, movie: 3, vgame: 4, blog: 5},
					selected: 0,
					favs: 0,
				},
				methods: {
					change: function(select) {
						this.favs = 0;
						var choiceBlock = document.getElementById("choiceBlock")
						try {
							for (i = 0; i < 2; i++) {
								var reset = document.getElementById("choiceBlock").lastElementChild
								reset.parentNode.removeChild(reset);
							}
						}
						catch(TypeError) {
						}

						// Blog post template
						var entryForm = document.createElement("div");
						entryForm.setAttribute("id", "entryForm");
						entryForm.setAttribute("class", "entryForm");
						// entryForm.setAttribute("method", "post")
						// entryForm.setAttribute("action", window.location.href + "/entry");

						var nameText = document.createElement("label");
						nameText.setAttribute("class", "entryHeader");
						entryForm.appendChild(nameText);

						var nameInput = document.createElement("input");
						nameInput.setAttribute("type", "text");
						nameInput.setAttribute("class", "inputBox");
						nameInput.setAttribute("id", "title");
						entryForm.appendChild(nameInput);

						var createdText = document.createElement("label");
						createdText.setAttribute("class", "entryHeader");
						entryForm.appendChild(createdText);

						var createdInput = document.createElement("input");
						createdInput.setAttribute("type", "text");
						createdInput.setAttribute("class", "inputBox");
						createdInput.setAttribute("id", "creator");
						entryForm.appendChild(createdInput);

						var tArea = document.createElement("textarea");
						tArea.setAttribute("class", "tArea");
						tArea.setAttribute("id", "tArea");
						entryForm.appendChild(tArea);

						var submit= document.createElement("button");
						submit.setAttribute("onclick", "doPost()");
						submit.setAttribute("id", "subButton");
						entryForm.appendChild(submit);

						// !!!!!!!!!!!!!!!!!!!!!!!!!!!!
						// Implement a rating system
						// !!!!!!!!!!!!!!!!!!!!!!!!!!!!

						// Finds the value of the option selected
						let option = select.currentTarget;
						this.selected = this.options[String(option.getAttribute("value"))];

						switch (this.selected) {
							case 1: // album
								nameText.textContent = "Album name";
								createdText.textContent = "Artist/band";

								choiceBlock.appendChild(entryForm);
								break;
							case 2: // book
								nameText.textContent = "Book name";
								createdText.textContent = "Author(s)";

								choiceBlock.appendChild(entryForm);
								break;
							case 3: // movie
								nameText.textContent = "Movie name";
								createdText.textContent = "Director";

								choiceBlock.appendChild(entryForm);
								break;
							case 4: // vgame
								nameText.textContent = "Game name";
								createdText.textContent = "Created by";

								choiceBlock.appendChild(entryForm);
								break;
							case 5: // blog
								console.log("blog")
								break;
							default:
						}
						try {
							document.getElementById("subButton").innerText = "Submit";
						}
						catch (TypeError){
						}
					},
				},
			});
		</script>
		<script>
			function doPost() {
<<<<<<< HEAD:views/blog.ejs
				let dType = document.getElementById("dropbox").value;
				let dTitle = document.getElementById("title").value;
				let dCreator = document.getElementById("creator").value;
				let dTArea = document.getElementById("tArea").value;


				let urlString = window.location.href + "/entry?type=" + dType
				+ "&title=" + dTitle + "&creator=" + dCreator + "&tarea=" + dTArea;
				console.log(urlString);
=======
			  let dType = document.getElementById("dropbox").value;
			  let dTitle = document.getElementById("title").value;
			  let dCreator = document.getElementById("creator").value;
			  let dTArea = document.getElementById("tArea").value;

			  if (dTitle == "" || dCreator == "" || dTArea == ""){
			  	alert("One or more entries is empty! Please try again");
			  	return;
			  }

			  let urlString = window.location.href + "/entry?type=" + dType
			  +  "&title=" + dTitle + "&creator=" + dCreator + "&tarea=" + dTArea;

			  // GET request with the user inputs as params
			  // !! FUTURE !! update this so that when submitted, it will redirect the user
			  fetch(urlString);
>>>>>>> 357e3b82e5a099571dd04ac70586dd37d6492fc4:blog.html
			}

			function addFav() {
				let favs = document.getElementById("favs");

				let newFav = document.createElement("input");
				newFav.setAttribute("type", "text");
				newFav.setAttribute("class", "fav");

				favs.appendChild(newFav);
			}
		</script>
	</body>
</html>
