<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Goals</title>
		<meta charset="utf-8">
        <link href="style.css" rel="stylesheet">
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script> -->
	</head>

	<body class="body">
		<div class="navbar">
			<a class="navbar" href="/">Home</a>
			<a class="navbar"href="categories">Categories</a>
			<a class="active" href="#">Goals</a>
			<button id="login" onclick="document.getElementById('id01').style.display='block'">Login</button>
			<div id="id01" class="modal">
			  <span onclick="document.getElementById('id01').style.display='none'"
				class="close" title="Close Modal">&times;</span>

			  <form class="modal-content animate" action="!!!FIX!!!">
			    <div class="container">
			      <label id="logtext"><b>Username</b></label>
			      <input type="text" name="uname" required>

			      <label id="logtext"><b>Password</b></label>
			      <input type="password" name="psw" required>

			      <button id="loginfr" type="submit">Login</button>
			    </div>
			  </form>
			</div>
				<script>
					// Get the modal
					var modal = document.getElementById('id01');

					// When the user clicks anywhere outside of the modal, close it
					window.onclick = function(event) {
					 if (event.target == modal) {
						 modal.style.display = "none";
					 }
					}
			</script>
		</div>
		</div>
		<div class="main">
      <h2>
          This is a personal website project that will act as a tracker/notes for
          anything that I can track. There are a few things that I want this website
          to do.
      </h2>
			<ol>
				<li id="currentGoal" class="goal">
					Make entries/blog-posts about the things I'm interested in. For example, there will
					be entries for books and another for movies. This will be the place that I'll write
					reviews for individual pieces.
				</li>
				<ul>
					<li>
						connect the
					</li>
				</ul>
        <li class="goal">
            Incorporate a calendar that will act as a todo list. I want to be able to set
            monthly and weekly goals. When I check all the items off of a todo list
            I would like a picture of a cute anime girl jpg or gif to congratulate me
        </li>
				<li class="goal">
					Make a form page that will send its data type to the database
				</li>

        <li class="goal">
            Make the landing page real pretty
        </li>
      </ol>
		</div>
	</body>
</html>
