<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Goals</title>
		<meta charset="utf-8">
        <link href="/static/style.css" rel="stylesheet">
		<script type="text/javascript" src="/static/login.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script> -->
	</head>

	<body class="body">
		<div class="navbar">
			<a class="nonActive" href="/">Home</a>
			<a class="nonActive"href="categories">Categories</a>
			<a class="active" href="#">Goals</a>
			<button id="login" onclick="document.getElementById('id01').style.display='block'">Login</button>
			<div id="id01" class="modal">
			  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">
				&times;
			  </span>

			  <form class="modal-content animate" onsubmit="login(this); return false;">
			    <div class="container">
			      <label class="logtext"><b>Username</b></label>
			      <input type="text" name="username" required>

			      <label class="logtext"><b>Password</b></label>
			      <input type="password" name="password" required>

			      <button id="loginButton" type="submit">Login</button>
			    </div>
			  </form>
			</div>
			<script>
				// Get the modal
				var modal = document.getElementById('id01');

				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
					 if (event.target == modal) {
						 modal.style.display = "none";
					 	}
				}
			</script>
		</div>
		<div class="main">
		  <h1 id="todo">
	          Todo List
	      </h1>
			<ol>
				<li id="currentGoal">
					Add a rating system
				</li>
		        <li class="goal">
		            Create a calendar page that will act as a daily todo list. I want to be able to set
		            monthly and weekly goals. When I check all the items off of a todo list
		            I'll have a jpg/gif to congratulate me and my hard work
		        </li>
				<li>
					Add a user system, only let admins post
				</li>
		        <li class="goal">
		            Actually use the site now that it works :)
		        </li>
			</ol>
		</div>
	</body>
</html>
